@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Virilica';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/virilica.otf) format("opentype");
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(216, 216, 215, 0.9);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #A0B5AA;
  }
}


